

body, html {
  height: 100%;
}

.bg {
  /* The image used
  background-image: url(../../images/background-image\ 1.png); 
 

  /* Full height */
  /* height: 100%;
  width: 100%; */
  /* position: fixed; */
  
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  */

  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.btn-primary {
  background-color: rgb(245, 134, 153);
  border-color: rgb(245, 134, 153);
}

.btn-primary:hover {
  background-color: #e65550;
  border-color: #e65550;
}