/* General Styles */
body {
    background-color: #f8f9fa;
    color: #343a40;
    
  }
  
  /* Navbar Styles */
  .navbar {
    background-color: rgb(251, 167, 181);
  }
  
  .navbar-brand,
  .nav-link {
    color: #fff !important;
  }
  
  .nav-link:hover {
    color: #f8f9fa !important;
  }
  
  /* Header Title and Filter */
  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .filter-container h1 {
    margin-bottom: 0;
  }
  
  /* Product Cards */
  .card {
    border: none;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 1.25rem;
    color: rgb(251, 167, 181);
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .btn-primary {
    background-color: rgb(251, 167, 181);
    border-color: rgb(251, 167, 181);
  }
  
  .btn-primary:hover {
    background-color: #e65550;
    border-color: #e65550;
  }
  
  /* Footer */
  footer {
    background-color: rgb(251, 167, 181);
    color: #fff;
    padding: 1rem 0;
  }
  
  footer p {
    margin: 0;
  }


  nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--max-width);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
  }
  
  .nav__logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--extra-light);
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  .nav__links .link {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--extra-light);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .nav__links .link:hover {
    color: var(--primary-color);
  }
  
  .search__box {
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--extra-light);
  }
  
  .search__box input {
    color: var(--extra-light);
    background-color: transparent;
    outline: none;
    border: none;
  }
  
  .search__box i {
    color: var(--extra-light);
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: var(--extra-light);
    /* color: #fff !important; */
  }  

  .background-image{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
